img.rounded-circle{
    width: 40px;
    margin-right: 5px;
}

nav.bg-dark{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc466b+1,3f5efb+100 */
background: #fc466b; /* Old browsers */
background: -moz-linear-gradient(left, #fc466b 1%, #3f5efb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #fc466b 1%,#3f5efb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #fc466b 1%,#3f5efb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc466b', endColorstr='#3f5efb',GradientType=1 ); /* IE6-9 */
border: 0px solid #fff !important;
}

.logo-header{
    width: 120px;
}