<app-navbar></app-navbar>
<div class="container mx-auto">
    <div class="row">
        <div class="col-md-5 pt-170">
            <h1 class="display-3">Four19 Audience</h1>
            <p class="lead txt-hom">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <a class="lnk-more">Learn more</a><a class="lnk-contct">or contact</a>
        </div>
        <div class="col-md-7">
          <img src="../../../assets/welcome-img.jpg" alt="" class="welcome-img">
        </div>
      </div>
</div>