img.welcome-img {
    width: 100%;
}

.pt-170{
    padding-top: 170px;
}

.lnk-more{
    background-color: #3301a0;
    color: #fff !important;
    padding: 15px 33px;
    border-radius: 30px;
    display: inline-table;
    margin-top: 30px;
    font-size: 17px;
    margin-right: 20px;
}

.lnk-contct{
    color: #3301a0 !important;
    font-size: 15px;
}

.txt-hom{
    color: #8c8c8c;
    font-size: 14px;
    margin-top: 40px;
}